<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spirit.flowable.mapper.SysFlowTraceMapper">
    
    <resultMap type="SysFlowTrace" id="SysFlowTraceResult">
        <result property="traceId"    column="trace_id"    />
        <result property="flowNum"    column="flow_num"    />
        <result property="flowDateNum"    column="flow_date_num"    />
        <result property="flowType"    column="flow_type"    />
        <result property="bizUid"    column="biz_uid"    />
        <result property="bizDesc"    column="biz_desc"    />
        <result property="commitUserId"    column="commit_user_id"    />
        <result property="commitTime"    column="commit_time"    />
        <result property="procInstId"    column="proc_inst_id"    />
        <result property="procDefId"    column="proc_def_id"    />
        <result property="procDefKey"    column="proc_def_key"    />
        <result property="taskId"    column="task_id"    />
        <result property="taskDefId"    column="task_def_id"    />
        <result property="taskDefName"    column="task_def_name"    />
        <result property="taskDefDesc"    column="task_def_desc"    />
        <result property="flowStatus"    column="flow_status"    />
        <result property="flowResult"    column="flow_result"    />
        <result property="firstTask"    column="first_task"    />
    </resultMap>

    <sql id="selectSysFlowTraceVo">
        select 
        	t.trace_id, t.flow_num, t.flow_date_num, t.flow_type, t.biz_uid, t.biz_desc, t.commit_user_id, t.commit_time, t.proc_inst_id, t.proc_def_id, p.key_ as proc_def_key, t.task_id, t.task_def_id, t.task_def_name, t.task_def_desc, t.flow_status, t.flow_result, t.first_task 
        from sys_flow_trace t
        left join act_re_procdef p on t.proc_def_id = p.id_
    </sql>
    

    <select id="selectSysFlowTraceList" parameterType="SysFlowTrace" resultMap="SysFlowTraceResult">
        <include refid="selectSysFlowTraceVo"/>
        <where>  
            <if test="flowNum != null "> and t.flow_num = #{flowNum}</if>
            <if test="flowDateNum != null "> and t.flow_date_num = #{flowDateNum}</if>
            <if test="flowType != null  and flowType != ''"> and t.flow_type = #{flowType}</if>
            <if test="bizUid != null  and bizUid != ''"> and t.biz_uid = #{bizUid}</if>
            <if test="bizDesc != null  and bizDesc != ''"> and t.biz_desc = #{bizDesc}</if>
            <if test="commitUserId != null "> and t.commit_user_id = #{commitUserId}</if>
            <if test="commitTime != null "> and t.commit_time = #{commitTime}</if>
            <if test="procInstId != null  and procInstId != ''"> and t.proc_inst_id = #{procInstId}</if>
            <if test="procDefId != null  and procDefId != ''"> and t.proc_def_id = #{procDefId}</if>
            <if test="taskId != null  and taskId != ''"> and t.task_id = #{taskId}</if>
            <if test="taskDefId != null  and taskDefId != ''"> and t.task_def_id = #{taskDefId}</if>
            <if test="taskDefName != null  and taskDefName != ''"> and t.task_def_name like concat('%', #{taskDefName}, '%')</if>
            <if test="taskDefDesc != null  and taskDefDesc != ''"> and t.task_def_desc = #{taskDefDesc}</if>
            <if test="flowStatus != null "> and t.flow_status = #{flowStatus}</if>
            <if test="flowResult != null "> and t.flow_result = #{flowResult}</if>
            <if test="firstTask != null "> and t.first_task = #{firstTask}</if>
        </where>
    </select>
    
    <select id="selectSysFlowTraceByBizUid" parameterType="String" resultMap="SysFlowTraceResult">
        <include refid="selectSysFlowTraceVo"/>
        where t.biz_uid = #{bizUid} limit 1
    </select>
        
    <insert id="insertSysFlowTrace" parameterType="SysFlowTrace" useGeneratedKeys="true" keyProperty="traceId">
        insert into sys_flow_trace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowNum != null">flow_num,</if>
            <if test="flowDateNum != null">flow_date_num,</if>
            <if test="flowType != null and flowType != ''">flow_type,</if>
            <if test="bizUid != null and bizUid != ''">biz_uid,</if>
            <if test="bizDesc != null and bizDesc != ''">biz_desc,</if>
            <if test="commitUserId != null">commit_user_id,</if>
            <if test="commitTime != null">commit_time,</if>
            <if test="procInstId != null">proc_inst_id,</if>
            <if test="procDefId != null and procDefId != ''">proc_def_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="taskDefId != null">task_def_id,</if>
            <if test="taskDefName != null">task_def_name,</if>
            <if test="taskDefDesc != null">task_def_desc,</if>
            <if test="flowStatus != null">flow_status,</if>
            flow_result,
            <if test="firstTask != null">first_task,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowNum != null">#{flowNum},</if>
            <if test="flowDateNum != null">#{flowDateNum},</if>
            <if test="flowType != null and flowType != ''">#{flowType},</if>
            <if test="bizUid != null and bizUid != ''">#{bizUid},</if>
            <if test="bizDesc != null and bizDesc != ''">#{bizDesc},</if>
            <if test="commitUserId != null">#{commitUserId},</if>
            <if test="commitTime != null">#{commitTime},</if>
            <if test="procInstId != null">#{procInstId},</if>
            <if test="procDefId != null and procDefId != ''">#{procDefId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="taskDefId != null">#{taskDefId},</if>
            <if test="taskDefName != null">#{taskDefName},</if>
            <if test="taskDefDesc != null">#{taskDefDesc},</if>
            <if test="flowStatus != null">#{flowStatus},</if>
            #{flowResult},
            <if test="firstTask != null">#{firstTask},</if>
         </trim>
    </insert>

    <update id="updateSysFlowTrace" parameterType="SysFlowTrace">
        update sys_flow_trace
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowNum != null">flow_num = #{flowNum},</if>
            <if test="flowDateNum != null">flow_date_num = #{flowDateNum},</if>
            <if test="flowType != null and flowType != ''">flow_type = #{flowType},</if>
            <if test="bizUid != null and bizUid != ''">biz_uid = #{bizUid},</if>
            <if test="bizDesc != null and bizDesc != ''">biz_desc = #{bizDesc},</if>
            <if test="commitUserId != null">commit_user_id = #{commitUserId},</if>
            <if test="commitTime != null">commit_time = #{commitTime},</if>
            <if test="procInstId != null">proc_inst_id = #{procInstId},</if>
            <if test="procDefId != null and procDefId != ''">proc_def_id = #{procDefId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="taskDefId != null">task_def_id = #{taskDefId},</if>
            <if test="taskDefName != null">task_def_name = #{taskDefName},</if>
            <if test="taskDefDesc != null">task_def_desc = #{taskDefDesc},</if>
            <if test="flowStatus != null">flow_status = #{flowStatus},</if>
            flow_result = #{flowResult},
            <if test="firstTask != null">first_task = #{firstTask},</if>
        </trim>
        where trace_id = #{traceId}
    </update>
    
    <update id="revokeSysFlowTrace" parameterType="SysFlowTrace">
        update sys_flow_trace
        <trim prefix="SET" suffixOverrides=",">
        	commit_time = null, proc_inst_id = null, task_id = null, flow_result = null, 
            <if test="taskDefId != null">task_def_id = #{taskDefId},</if>
            <if test="taskDefName != null">task_def_name = #{taskDefName},</if>
            <if test="taskDefDesc != null">task_def_desc = #{taskDefDesc},</if>
            <if test="flowStatus != null">flow_status = #{flowStatus},</if>
            first_task = 1
        </trim>
        where trace_id = #{traceId}
    </update>

    <delete id="deleteSysFlowTraceByBizUid" parameterType="String">
        delete from sys_flow_trace where biz_uid = #{bizUid}
    </delete>

</mapper>