<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spirit.system.mapper.SysCommentMapper">
    
    <resultMap type="SysComment" id="SysCommentResult">
        <result property="commentId"    column="comment_id"    />
        <result property="bizModel"    column="biz_model"    />
        <result property="bizId"    column="biz_id"    />
        <result property="fromId"    column="from_id"    />
        <result property="commentDate"    column="comment_date"    />
        <result property="content"    column="content"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="thumbUrl"    column="thumb_url"    />
        <result property="videoUrl"    column="video_url"    />
        <result property="fromName"    column="fromName"    />
        <result property="fromAvatar"    column="fromAvatar"    />
        <result property="likeNum"    column="likeNum"    />
    </resultMap>

    <sql id="selectSysCommentVo">
        select 
        	t.comment_id, t.biz_model, t.biz_id, t.from_id, t.comment_date, t.content, t.img_url, t.thumb_url, t.video_url,
        	u.nick_name as fromName,
        	u.avatar as fromAvatar,
        	(select count(cl.like_id) from sys_comment_like cl where cl.comment_id = t.comment_id) as likeNum
        from sys_comment t
        left join sys_user u on u.user_name = t.from_id 
    </sql>

    <select id="selectSysCommentList" parameterType="SysComment" resultMap="SysCommentResult">
        <include refid="selectSysCommentVo"/>
        <where>  
            <if test="bizModel != null  and bizModel != ''"> and t.biz_model = #{bizModel}</if>
            <if test="bizId != null "> and t.biz_id = #{bizId}</if>
            <if test="fromId != null  and fromId != ''"> and t.from_id = #{fromId}</if>
            <if test="params.beginCommentDate != null and params.beginCommentDate != '' and params.endCommentDate != null and params.endCommentDate != ''"> and t.comment_date between #{params.beginCommentDate} and #{params.endCommentDate}</if>
            <if test="content != null  and content != ''"> and t.content like concat('%', #{content}, '%')</if>
            <if test="imgUrl != null  and imgUrl != ''"> and t.img_url = #{imgUrl}</if>
            <if test="videoUrl != null  and videoUrl != ''"> and t.video_url = #{videoUrl}</if>
        </where>
        order by t.comment_date asc
    </select>
    
    <select id="selectSysCommentByCommentId" parameterType="Long" resultMap="SysCommentResult">
        <include refid="selectSysCommentVo"/>
        where t.comment_id = #{commentId}
    </select>
    
    <select id="selectSysCommentByBizModelAndId" resultMap="SysCommentResult">
        <include refid="selectSysCommentVo"/>
        where t.biz_model = #{bizModel} and t.biz_id = #{bizId} order by t.comment_date asc
    </select>
        
    <insert id="insertSysComment" parameterType="SysComment" useGeneratedKeys="true" keyProperty="commentId">
        insert into sys_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizModel != null">biz_model,</if>
            <if test="bizId != null">biz_id,</if>
            <if test="fromId != null">from_id,</if>
            <if test="commentDate != null">comment_date,</if>
            <if test="content != null">content,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="thumbUrl != null">thumb_url,</if>
            <if test="videoUrl != null">video_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bizModel != null">#{bizModel},</if>
            <if test="bizId != null">#{bizId},</if>
            <if test="fromId != null">#{fromId},</if>
            <if test="commentDate != null">#{commentDate},</if>
            <if test="content != null">#{content},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
            <if test="thumbUrl != null">#{thumbUrl},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
         </trim>
    </insert>

    <update id="updateSysComment" parameterType="SysComment">
        update sys_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="bizModel != null">biz_model = #{bizModel},</if>
            <if test="bizId != null">biz_id = #{bizId},</if>
            <if test="fromId != null">from_id = #{fromId},</if>
            <if test="commentDate != null">comment_date = #{commentDate},</if>
            <if test="content != null">content = #{content},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            <if test="thumbUrl != null">thumb_url = #{thumbUrl},</if>
            <if test="videoUrl != null">video_url = #{videoUrl},</if>
        </trim>
        where comment_id = #{commentId}
    </update>

    <delete id="deleteSysCommentByCommentId" parameterType="Long">
        delete from sys_comment where comment_id = #{commentId}
    </delete>
	
    <delete id="deleteSysCommentByCommentIds" parameterType="String">
        delete from sys_comment where comment_id in 
        <foreach item="commentId" collection="array" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </delete>

</mapper>