<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spirit.system.mapper.SysCameraMonitorMapper">
    
    <resultMap type="SysCameraMonitor" id="SysCameraMonitorResult">
        <result property="monitorId"    column="monitor_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="monitorName"    column="monitor_name"    />
        <result property="orderNum"    column="order_num"    />
        <result property="rtspUrl"    column="rtsp_url"    />
        <result property="playUri"    column="play_uri"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysCameraMonitorVo">
        select t.monitor_id, t.parent_id, t.ancestors, t.monitor_name, t.order_num, t.rtsp_url, t.play_uri, t.remark, t.create_by, t.create_time, t.update_by, t.update_time from sys_camera_monitor t
    </sql>

    <select id="selectSysCameraMonitorList" parameterType="SysCameraMonitor" resultMap="SysCameraMonitorResult">
        <include refid="selectSysCameraMonitorVo"/>
        <where>  
            <if test="monitorName != null  and monitorName != ''"> and t.monitor_name like concat('%', #{monitorName}, '%')</if>
            <if test="rtspUrl != null  and rtspUrl != ''"> and t.rtsp_url = #{rtspUrl}</if>
            <if test="playUri != null  and playUri != ''"> and t.play_uri = #{playUri}</if>
        </where>
        order by t.parent_id, t.order_num
    </select>
    
    <select id="selectSysCameraMonitorByMonitorId" parameterType="Long" resultMap="SysCameraMonitorResult">
        <include refid="selectSysCameraMonitorVo"/>
        where t.monitor_id = #{monitorId}
    </select>
    
    <select id="hasChildSysCameraMonitorByMonitorId" parameterType="Long" resultType="Boolean">
       select case count(monitor_id) when 0 then false else true end from sys_camera_monitor where parent_id = #{monitor_id};
    </select>
    
        
    <insert id="insertSysCameraMonitor" parameterType="SysCameraMonitor" useGeneratedKeys="true" keyProperty="monitorId">
        insert into sys_camera_monitor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="monitorName != null and monitorName != ''">monitor_name,</if>
            <if test="orderNum  != null and orderNum != ''">order_num,</if>
            <if test="rtspUrl != null and rtspUrl != ''">rtsp_url,</if>
            <if test="playUri != null">play_uri,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="monitorName != null and monitorName != ''">#{monitorName},</if>
            <if test="orderNum  != null and orderNum != ''">#{orderNum},</if>
            <if test="rtspUrl != null and rtspUrl != ''">#{rtspUrl},</if>
            <if test="playUri != null">#{playUri},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysCameraMonitor" parameterType="SysCameraMonitor">
        update sys_camera_monitor
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="monitorName != null and monitorName != ''">monitor_name = #{monitorName},</if>
            <if test="orderNum != null and orderNum != ''">order_num = #{orderNum},</if>
            <if test="rtspUrl != null and rtspUrl != ''">rtsp_url = #{rtspUrl},</if>
            <if test="playUri != null">play_uri = #{playUri},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where monitor_id = #{monitorId}
    </update>

    <delete id="deleteSysCameraMonitorByMonitorId" parameterType="Long">
        delete from sys_camera_monitor where monitor_id = #{monitorId}
    </delete>

    <delete id="deleteSysCameraMonitorByMonitorIds" parameterType="String">
        delete from sys_camera_monitor where monitor_id in 
        <foreach item="monitorId" collection="array" open="(" separator="," close=")">
            #{monitorId}
        </foreach>
    </delete>
</mapper>
