<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spirit.system.mapper.SysInfoPropMapper">

    <resultMap type="SysInfoProp" id="SysInfoPropResult">
        <result property="propId"    column="prop_id"    />
        <result property="infoId"    column="info_id"    />
        <result property="categoryPropId"    column="category_prop_id"    />
        <result property="propName"    column="prop_name"    />
        <result property="propType"    column="prop_type"    />
        <result property="propVal"    column="prop_val"    />
        <result property="propDictLabel"    column="dict_label"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysInfoPropVo">
        select t.prop_id, t.info_id, t.category_prop_id, cp.prop_name, cp.prop_type, t.prop_val, dd.dict_label, t.remark from sys_info_prop t
    	left join sys_info_category_prop cp on cp.prop_id = t.category_prop_id
    	left join sys_dict_data dd on dd.dict_type = cp.prop_type_val and dd.dict_value = t.prop_val
    </sql>

    <select id="selectSysInfoPropList" parameterType="SysInfoProp" resultMap="SysInfoPropResult">
        <include refid="selectSysInfoPropVo"/>
        <where>  
            <if test="infoId != null "> and t.info_id = #{infoId}</if>
            <if test="categoryPropId != null "> and t.category_prop_id = #{categoryPropId}</if>
            <if test="propName != null  and propName != ''"> and cp.prop_name like concat('%', #{propName}, '%')</if>
            <if test="propType != null  and propType != ''"> and cp.prop_type = #{propType}</if>
        </where>
        order by cp.prop_id asc
    </select>
    
    <select id="selectSysInfoPropByPropId" parameterType="Long" resultMap="SysInfoPropResult">
        <include refid="selectSysInfoPropVo"/>
        where t.prop_id = #{propId}
    </select>
        
    <insert id="insertSysInfoProp" parameterType="SysInfoProp" useGeneratedKeys="true" keyProperty="propId">
        insert into sys_info_prop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoId != null">info_id,</if>
            <if test="categoryPropId != null">category_prop_id,</if>
            <if test="propVal != null">prop_val,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoId != null">#{infoId},</if>
            <if test="categoryPropId != null">#{categoryPropId},</if>
            <if test="propVal != null">#{propVal},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysInfoProp" parameterType="SysInfoProp">
        update sys_info_prop
        <trim prefix="SET" suffixOverrides=",">
            <if test="infoId != null">info_id = #{infoId},</if>
            <if test="categoryPropId != null">category_prop_id = #{categoryPropId},</if>
            <if test="propVal != null">prop_val = #{propVal},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where prop_id = #{propId}
    </update>

    <delete id="deleteSysInfoPropByPropId" parameterType="Long">
        delete from sys_info_prop where prop_id = #{propId}
    </delete>

    <delete id="deleteSysInfoPropByPropIds" parameterType="String">
        delete from sys_info_prop where prop_id in 
        <foreach item="propId" collection="array" open="(" separator="," close=")">
            #{propId}
        </foreach>
    </delete>
    
    <delete id="deleteSysInfoPropByInfoId" parameterType="Long">
        delete from sys_info_prop where info_id = #{infoId}
    </delete>
    
     <select id="hasSysInfoPropByCategoryPropId" parameterType="String" resultType="Boolean">    
    	select case count(prop_id) when 0 then false else true end from sys_info_prop where category_prop_id in
    	<foreach item="propId" collection="array" open="(" separator="," close=")">
            #{propId}
        </foreach>
    </select>

</mapper>
