<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spirit.system.mapper.SysRoleMobileMenuMapper">

    <resultMap type="SysRoleMobileMenu" id="SysRoleMobileMenuResult">
        <result property="roleId"    column="role_id"    />
        <result property="menuId"    column="menu_id"    />
    </resultMap>


	<select id="checkMobileMenuExistRole" resultType="Integer">
	    select count(1) from sys_role_mobile_menu where menu_id = #{menuId}
	</select>

    
    <delete id="deleteSysRoleMobileMenuByRoleId" parameterType="Long">
        delete from sys_role_mobile_menu where role_id = #{roleId}
    </delete>

    <delete id="deleteSysRoleMobileMenuByRoleIds" parameterType="String">
        delete from sys_role_mobile_menu where role_id in 
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <insert id="batchInsertSysRoleMobileMenu" parameterType="java.util.List">
        insert into sys_role_mobile_menu (role_id, menu_id)
        values
        <foreach item="item" collection="list" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
  				#{item.roleId}, #{item.menuId}
            </trim>
        </foreach>
    </insert>

</mapper>
