<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spirit.biz.demo.mapper.DemoMapper">
    
    <delete id="deleteDemoByDemoId">
		update t_demo set del_flag = 1, update_by = #{deleteBy}, update_time = sysdate() where demo_id = #{demoId}
    </delete>

    <delete id="deleteDemoByDemoIds">
        update t_demo set del_flag = 1, update_by = #{deleteBy}, update_time = sysdate() where demo_id in 
        <foreach item="demoId" collection="demoIds" open="(" separator="," close=")">
            #{demoId}
        </foreach>
    </delete>
    
    <insert id="batchInsertDemo" parameterType="java.util.List">
        insert into t_demo (demo_name, demo_time, demo_image, attachment, demo_content, role_id, create_by, create_time)
        values
        <foreach item="item" collection="list" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
  				#{item.demoName}, #{item.demoTime}, #{item.demoImage}, #{item.attachment}, #{item.demoContent}, #{item.roleId}, #{item.createBy}, #{item.createTime}  
            </trim>
        </foreach>
    </insert>

    <update id="batchUpdateDemo" parameterType="java.util.List">
        update t_demo
        <trim prefix="SET" suffixOverrides=",">
            demo_name = 
            <foreach collection="list" item="item" separator=" " open="CASE demo_name" close="END">
                WHEN #{item.demoName} THEN #{item.demoName}
            </foreach>,
            demo_time = 
            <foreach collection="list" item="item" separator=" " open="CASE demo_name" close="END">
                WHEN #{item.demoName} THEN #{item.demoTime}
            </foreach>,
            demo_image = 
            <foreach collection="list" item="item" separator=" " open="CASE demo_name" close="END">
                WHEN #{item.demoName} THEN #{item.demoImage}
            </foreach>,
            attachment = 
            <foreach collection="list" item="item" separator=" " open="CASE demo_name" close="END">
                WHEN #{item.demoName} THEN #{item.attachment}
            </foreach>,
            demo_content = 
            <foreach collection="list" item="item" separator=" " open="CASE demo_name" close="END">
                WHEN #{item.demoName} THEN #{item.demoContent}
            </foreach>,
            update_by = 
            <foreach collection="list" item="item" separator=" " open="CASE demo_name" close="END">
                WHEN #{item.demoName} THEN #{item.updateBy}
            </foreach>,
            update_time = 
            <foreach collection="list" item="item" separator=" " open="CASE demo_name" close="END">
                WHEN #{item.demoName} THEN #{item.updateTime}
            </foreach>
            where demo_name in
            <foreach collection="list" item="item" separator="," open="(" close=")">
                #{item.demoName}
            </foreach>
        </trim>
    </update>
    
    <delete id="clearDemoData">
    	truncate table t_demo
    </delete>
</mapper>