<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risun.system.mapper.SysInfoMapper">
    
    <resultMap type="SysInfo" id="SysInfoResult">
        <result property="infoId"    column="info_id"    />
        <result property="title"    column="title"    />
        <result property="subTitle"    column="sub_title"    />
        <result property="cover"    column="cover"    />
        <result property="summary"    column="summary"    />
        <result property="content"    column="content"    />
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="source"    column="source"    />
        <result property="author"    column="author"    />
        <result property="setTop"    column="set_top"    />
        <result property="anonymous"    column="anonymous"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="commentable"    column="commentable"    />
        <result property="viewCount"    column="view_count"    />
        <result property="praiseCount"    column="praise_count"    />
        <result property="favorCount"    column="favor_count"    />
        <result property="status"    column="status"    />
        <result property="disabled"    column="disabled"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysInfoVo">
        select 
        	t.info_id, t.title, t.sub_title, t.cover, t.summary, t.content, t.category_id, c.category_name, t.source, t.author, t.set_top, t.anonymous, t.publish_time, 
        	t.commentable, t.view_count, t.praise_count, t.favor_count, t.status, t.disabled, t.create_by, t.create_time, t.update_by, t.update_time 
        from sys_info t
        left join sys_info_category c on c.category_id = t.category_id
    </sql>
    
     <sql id="selectSysInfo4ViewVo">
        select t.info_id, t.title, t.sub_title, t.cover, t.summary, t.content, t.category_id, c.category_name, t.set_top, t.source, t.author, t.anonymous, t.publish_time, 
        t.commentable, t.view_count, t.praise_count, t.favor_count, t.status, t.disabled, t.create_by, t.create_time, t.update_by, t.update_time 
        from sys_info t
        left join sys_info_range t1 on t1.info_id = t.info_id 
        left join sys_info_category c on c.category_id = t.category_id
    </sql>

    <select id="selectSysInfoList" parameterType="SysInfo" resultMap="SysInfoResult">
        <include refid="selectSysInfoVo"/>
        <where>  
            <if test="title != null  and title != ''"> and t.title like concat('%', #{title}, '%')</if>
            <if test="subTitle != null  and subTitle != ''"> and t.sub_title like concat('%', #{subTitle}, '%')</if>
            <if test="summary != null  and summary != ''"> and t.summary like concat('%', #{summary}, '%')</if>
            <if test="categoryId != null  and categoryId != ''"> and (t.category_id = #{categoryId} or CAST(#{categoryId} AS VARCHAR) = ANY (string_to_array(c.ancestors, ',')))</if>
            <if test="source != null  and source != ''"> and t.source like concat('%', #{source}, '%')</if>
            <if test="author != null  and author != ''"> and t.author like concat('%', #{author}, '%')</if>
            <if test="setTop != null "> and t.set_top = #{setTop}</if>
            <if test="params.beginPublishTime != null and params.beginPublishTime != '' and params.endPublishTime != null and params.endPublishTime != ''"> and t.publish_time between #{params.beginPublishTime} and #{params.endPublishTime}</if>
            <if test="status != null  and status != ''"> and t.status = #{status}</if>
            <if test="disabled != null"> and t.disabled = #{disabled}</if>
            <if test="anonymous != null"> and t.anonymous = #{anonymous}</if>
            <if test="commentable != null"> and t.commentable = #{commentable}</if>
        </where>
        order by t.disabled asc, t.set_top desc, t.publish_time desc
    </select>
    
    <select id="selectSysInfoList4View" parameterType="SysInfo" resultMap="SysInfoResult">
    	<include refid="selectSysInfo4ViewVo"/>
    	<where>
    		t.status = '2' 
    		and 
    		t.disabled = 0 
			and
			(
				t.anonymous = 1 
				or 
				(
					t.anonymous = 0 
					and 
					exists (
						select 1 from sys_dept d where d.dept_id = #{loginDeptId}
						and 
						(d.dept_id = t1.dept_id or CAST(t1.dept_id AS VARCHAR) = ANY (string_to_array(d.ancestors, ',')))
						
					) 
				)
			)
			<if test="title != null  and title != ''"> and t.title like concat('%', #{title}, '%')</if>
            <if test="categoryId != null  and categoryId != ''"> and (t.category_id = #{categoryId} or CAST(#{categoryId} AS VARCHAR) = ANY (string_to_array(c.ancestors, ',')))</if>
            <if test="setTop != null "> and t.set_top = #{setTop}</if>
            <if test="anonymous != null"> and t.anonymous = #{anonymous}</if>
            <if test="commentable != null"> and t.commentable = #{commentable}</if>
            <if test="params.beginPublishTime != null and params.beginPublishTime != '' and params.endPublishTime != null and params.endPublishTime != ''"> and t.publish_time between #{params.beginPublishTime} and #{params.endPublishTime}</if>
    	</where>
    	order by disabled asc, set_top desc, publish_time desc
    </select>
    
    <select id="selectSysInfoByInfoId" parameterType="Long" resultMap="SysInfoResult">
        <include refid="selectSysInfoVo"/>
        where t.info_id = #{infoId}
    </select>
    
    <select id="selectSysInfo4ViewByInfoId" parameterType="Long" resultMap="SysInfoResult">
        <include refid="selectSysInfo4ViewVo"/>
        where t.info_id = #{infoId}
        	 and t.status = '2' 
        	 and t.disabled = 0 
        	 and
			 (
				t.anonymous = 1 
				or 
				(
					t.anonymous = 0 
					and 
					exists 
					(
						select 1 from sys_dept d where d.dept_id = #{loginDeptId} 
						and 
						(d.dept_id = t1.dept_id or CAST(t1.dept_id AS VARCHAR) = ANY (string_to_array(d.ancestors, ',')))
					) 
				)
			)
    </select>
    
    <select id="hasSysInfoByCategoryId" parameterType="Long" resultType="Boolean">    
    	select case count(info_id) when 0 then false else true end from sys_info where category_id = #{categoryId}
    </select>
        
    <insert id="insertSysInfo" parameterType="SysInfo" useGeneratedKeys="true" keyProperty="infoId">
        insert into sys_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="subTitle != null">sub_title,</if>
            <if test="cover != null">cover,</if>
            <if test="summary != null">summary,</if>
            <if test="content != null">content,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="source != null">source,</if>
            <if test="author != null">author,</if>
            <if test="setTop != null">set_top,</if>
            <if test="anonymous != null">anonymous,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="status != null">status,</if>
            <if test="disabled != null">disabled,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="subTitle != null">#{subTitle},</if>
            <if test="cover != null">#{cover},</if>
            <if test="summary != null">#{summary},</if>
            <if test="content != null">#{content},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="source != null">#{source},</if>
            <if test="author != null">#{author},</if>
            <if test="setTop != null">#{setTop},</if>
            <if test="anonymous != null">#{anonymous},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="status != null">#{status},</if>
            <if test="disabled != null">#{disabled},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysInfo" parameterType="SysInfo">
        update sys_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="subTitle != null">sub_title = #{subTitle},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="content != null">content = #{content},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="source != null">source = #{source},</if>
            <if test="author != null">author = #{author},</if>
            <if test="setTop != null">set_top = #{setTop},</if>
            <if test="anonymous != null">anonymous = #{anonymous},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="disabled != null">disabled = #{disabled},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where info_id = #{infoId} 
    </update>
    
    <update id="disabledSysInfo" parameterType="SysInfo">
        update sys_info set disabled = #{disabled}, update_by = #{updateBy}, update_time = #{updateTime} where info_id = #{infoId} 
    </update>
    
    <update id="setAnonymousSysInfo" parameterType="SysInfo">
        update sys_info set anonymous = #{anonymous}, update_by = #{updateBy}, update_time = #{updateTime} where info_id = #{infoId} 
    </update>
    
    <update id="cancelSysInfoTop">
    	update sys_info set set_top = 0 where set_top = 1
    </update>

    <delete id="deleteSysInfoByInfoId" parameterType="Long">
        delete from sys_info where info_id = #{infoId}
    </delete>

    <delete id="deleteSysInfoByInfoIds" parameterType="String">
        delete from sys_info where info_id in 
        <foreach item="infoId" collection="array" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>
    
    <delete id="deletePrevSysInfoView" parameterType="String">
        delete from sys_info_view where view_date <![CDATA[<>]]> TO_DATE(#{viewDate},'YYYY-MM-DD')
    </delete>
    
    <update id="updateSysInfoViewCount" parameterType="Long">
    	update sys_info set view_count = view_count + 1 where info_id = #{infoId}
    </update>
    
    <select id="selectSysInfoViewByInfoView" parameterType="com.risun.system.domain.SysInfoView" resultType="com.risun.system.domain.SysInfoView">
    	select t.view_id as viewId, t.info_id as infoId, t.view_date as viewDate, t.view_ip as viewIp from sys_info_view t where t.info_id = #{infoId} and t.view_date = #{viewDate} and t.view_ip = #{viewIp}
    </select>
    
    <insert id="insertSysInfoView" parameterType="com.risun.system.domain.SysInfoView" useGeneratedKeys="true" keyProperty="viewId">
        insert into sys_info_view
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoId != null">info_id,</if>
            <if test="viewDate != null">view_date,</if>
            <if test="viewIp != null and viewIp != ''">view_ip,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoId != null">#{infoId},</if>
            <if test="viewDate != null">#{viewDate},</if>
            <if test="viewIp != null and viewIp != ''">#{viewIp},</if>
         </trim>
    </insert>
    
    <update id="updateSysInfoCommentable">
    	update sys_info set commentable = #{commentable} where info_id in 
    	<foreach item="infoId" collection="infoIds" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </update>
    
    <update id="updateSysInfoFavorCount" parameterType="Long">
    	update sys_info set favor_count = favor_count + 1 where info_id = #{infoId}
    </update>
    
    <update id="updateSysInfoIncreasePraiseCount" parameterType="Long">
    	update sys_info set praise_count = praise_count + 1 where info_id = #{infoId}
    </update>
    
    <update id="updateSysInfoDecreasePraiseCount" parameterType="Long">
    	update sys_info set praise_count = praise_count - 1 where info_id = #{infoId}
    </update>
</mapper>