<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risun.system.mapper.SysInfoCategoryPropMapper">

    <resultMap type="SysInfoCategoryProp" id="SysInfoCategoryPropResult">
        <result property="propId"    column="prop_id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="propName"    column="prop_name"    />
        <result property="propType"    column="prop_type"    />
        <result property="propTypeVal"    column="prop_type_val"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysInfoCategoryPropVo">
        select t.prop_id, t.category_id, sysinfocategory.category_name, t.prop_name, t.prop_type, t.prop_type_val, t.remark, t.create_by, t.create_time, t.update_by, t.update_time from sys_info_category_prop t
    	left join sys_info_category sysinfocategory on sysinfocategory.category_id = t.category_id
    	left join sys_info info on info.category_id = t.category_id
    </sql>

    <select id="selectSysInfoCategoryPropList" parameterType="SysInfoCategoryProp" resultMap="SysInfoCategoryPropResult">
        <include refid="selectSysInfoCategoryPropVo"/>
        <where>  
            <if test="categoryId != null "> and t.category_id = #{categoryId}</if>
            <if test="categoryName != null  and categoryName != ''"> and sysinfocategory.category_name like concat('%', #{categoryName}, '%')</if>
            <if test="propName != null  and propName != ''"> and t.prop_name like concat('%', #{propName}, '%')</if>
            <if test="propType != null  and propType != ''"> and t.prop_type = #{propType}</if>
            <if test="propTypeVal != null  and propTypeVal != ''"> and t.prop_type_val = #{propTypeVal}</if>
            <if test="infoId != null "> and info.info_id = #{infoId}</if>
        </where>
    </select>
    
    <select id="selectSysInfoCategoryPropByPropId" parameterType="Long" resultMap="SysInfoCategoryPropResult">
        <include refid="selectSysInfoCategoryPropVo"/>
        where t.prop_id = #{propId}
    </select>
        
    <insert id="insertSysInfoCategoryProp" parameterType="SysInfoCategoryProp" useGeneratedKeys="true" keyProperty="propId">
        insert into sys_info_category_prop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">category_id,</if>
            <if test="propName != null and propName != ''">prop_name,</if>
            <if test="propType != null and propType != ''">prop_type,</if>
            <if test="propTypeVal != null">prop_type_val,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="propName != null and propName != ''">#{propName},</if>
            <if test="propType != null and propType != ''">#{propType},</if>
            <if test="propTypeVal != null">#{propTypeVal},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysInfoCategoryProp" parameterType="SysInfoCategoryProp">
        update sys_info_category_prop
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="propName != null and propName != ''">prop_name = #{propName},</if>
            <if test="propType != null and propType != ''">prop_type = #{propType},</if>
            <if test="propTypeVal != null">prop_type_val = #{propTypeVal},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where prop_id = #{propId}
    </update>

    <delete id="deleteSysInfoCategoryPropByPropId" parameterType="Long">
        delete from sys_info_category_prop where prop_id = #{propId}
    </delete>

    <delete id="deleteSysInfoCategoryPropByPropIds" parameterType="String">
        delete from sys_info_category_prop where prop_id in 
        <foreach item="propId" collection="array" open="(" separator="," close=")">
            #{propId}
        </foreach>
    </delete>

	<select id="hasChildSysInfoCategoryPropByCategoryId" parameterType="Long" resultType="Boolean">    
    	select case count(prop_id) when 0 then false  else true end from sys_info_category_prop where category_id = #{categoryId}
    </select>
</mapper>
