package ${packageName}.service.impl;
#set ($existDelFlag = false)
#set ($existQuery = false)
#foreach ($column in $columns)
	#if ($column.columnName == 'del_flag')
		#set ($existDelFlag = true)
    	#break
	#end
#end
#foreach ($column in $columns)
	#if ($column.query)
		#set ($existQuery = true)
    	#break
	#end
#end

import java.util.List;
#foreach ($column in $columns)
#if($column.javaField == 'createTime' || $column.javaField == 'updateTime')
import com.risun.common.utils.DateUtils;
#break
#end
#end
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
#if($existQuery)
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
#end
#if($table.sub)
import java.util.ArrayList;
import cn.hutool.core.collection.CollUtil;
import org.springframework.transaction.annotation.Transactional;
import ${packageName}.domain.${subClassName};
#end
import com.risun.common.utils.SecurityUtils;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.domain.${ClassName};
import ${packageName}.service.I${ClassName}Service;
import cn.hutool.core.util.StrUtil;

/**
 * ${functionName}Service业务层处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl implements I${ClassName}Service {
    @Autowired
    private ${ClassName}Mapper ${className}Mapper;

    /**
     * 查询${functionName}
     * 
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return ${functionName}
     */
    @Override
    public ${ClassName} select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField}) {
        return ${className}Mapper.selectById(${pkColumn.javaField});
    }

    /**
     * 查询${functionName}列表
     * 
     * @param ${className} ${functionName}
     * @return ${functionName}
     */
    @Override
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className}) {
#if($existQuery)
        LambdaQueryWrapper<${ClassName}> lqw = new QueryWrapper<${ClassName}>().lambda()
#end
#if($existDelFlag)
            .eq(${ClassName}::getDelFlag, 0)
#end
#foreach($column in $columns)
#if($column.query)
#if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
#set($AttrName=$column.javaField)
#else
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#end
#set($queryType=$column.queryType)
#set($javaField=$column.javaField)
#set($javaType=$column.javaType)
#if($queryType == "EQ")
            .eq(#if($javaType == 'String')StrUtil.isNotEmpty(${className}.get${AttrName}())#else${className}.get${AttrName}() != null#end, ${ClassName}::get${AttrName}, ${className}.get${AttrName}())
#elseif($queryType == "NE")
            .ne(#if($javaType == 'String')StrUtil.isNotEmpty(${className}.get${AttrName}())#else${className}.get${AttrName}() != null#end, ${ClassName}::get${AttrName}, ${className}.get${AttrName}())
#elseif($queryType == "GT")
            .gt(#if($javaType == 'String')StrUtil.isNotEmpty(${className}.get${AttrName}())#else${className}.get${AttrName}() != null#end, ${ClassName}::get${AttrName}, ${className}.get${AttrName}())
#elseif($queryType == "GTE")
            .ge(#if($javaType == 'String')StrUtil.isNotEmpty(${className}.get${AttrName}())#else${className}.get${AttrName}() != null#end, ${ClassName}::get${AttrName}, ${className}.get${AttrName}())
#elseif($queryType == "LT")
            .lt(#if($javaType == 'String')StrUtil.isNotEmpty(${className}.get${AttrName}())#else${className}.get${AttrName}() != null#end, ${ClassName}::get${AttrName}, ${className}.get${AttrName}())
#elseif($queryType == "LTE")
            .le(#if($javaType == 'String')StrUtil.isNotEmpty(${className}.get${AttrName}())#else${className}.get${AttrName}() != null#end, ${ClassName}::get${AttrName}, ${className}.get${AttrName}())
#elseif($queryType == "LIKE")
            .like(StrUtil.isNotEmpty(${className}.get${AttrName}()), ${ClassName}::get${AttrName}, ${className}.get${AttrName}())
#elseif($queryType == "BETWEEN")
            .ge(${className}.getParams().get("begin${AttrName}") != null, ${ClassName}::get${AttrName}, ${className}.getParams().get("begin${AttrName}"))
            .le(${className}.getParams().get("end${AttrName}") != null, ${ClassName}::get${AttrName}, ${className}.getParams().get("end${AttrName}"))
#end
#end
#end
        ;
#if($existQuery)
        return ${className}Mapper.selectList(lqw);
#else
        return ${className}Mapper.selectList(null);
#end
    }

    /**
     * 新增${functionName}
     * 
     * @param ${className} ${functionName}
     * @return 结果
     */
#if($table.sub)
    @Transactional
#end
    @Override
    public int insert${ClassName}(${ClassName} ${className}) {
#foreach ($column in $columns)
#if($column.javaField == 'createTime')
        ${className}.setCreateTime(DateUtils.getNowDate());
#end
#if($column.javaField == 'createBy')
        ${className}.setCreateBy(SecurityUtils.getUsername());
#end
#end
#if($table.sub)
        int rows = ${className}Mapper.insert${ClassName}(${className});
        insert${subClassName}(${className});
        return rows;
#else
        return ${className}Mapper.insert(${className});
#end
    }

    /**
     * 修改${functionName}
     * 
     * @param ${className} ${functionName}
     * @return 结果
     */
#if($table.sub)
    @Transactional
#end
    @Override
    public int update${ClassName}(${ClassName} ${className}) {
#foreach ($column in $columns)
#if($column.javaField == 'updateTime')
        ${className}.setUpdateTime(DateUtils.getNowDate());
#end
#if($column.javaField == 'updateBy')
        ${className}.setUpdateBy(SecurityUtils.getUsername());
#end
#end
#if($table.sub)
        ${className}Mapper.delete${subClassName}By${subTableFkClassName}(${className}.get${pkColumn.capJavaField}());
        insert${subClassName}(${className});
#end
        return ${className}Mapper.updateById(${className});
    }

    /**
     * 批量删除${functionName}
     * 
     * @param ${pkColumn.javaField}s 需要删除的${functionName}主键
     * @return 结果
     */
#if($table.sub)
    @Transactional
#end
    @Override
    public int delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaType}[] ${pkColumn.javaField}s) {
#if($table.sub)
        ${className}Mapper.delete${subClassName}By${subTableFkClassName}s(${pkColumn.javaField}s);
#end
#if($existDelFlag)
        return ${className}Mapper.delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaField}s, SecurityUtils.getUsername());
#else
        return ${className}Mapper.deleteBatchIds(Arrays.asList(${pkColumn.javaField}s));
#end
    }

    /**
     * 删除${functionName}信息
     * 
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return 结果
     */
#if($table.sub)
    @Transactional
#end
    @Override
    public int delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField}) {
#if($table.sub)
        ${className}Mapper.delete${subClassName}By${subTableFkClassName}(${pkColumn.javaField});
#end
#if($existDelFlag)
        return ${className}Mapper.delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaField}, SecurityUtils.getUsername());
#else
        return ${className}Mapper.deleteById(${pkColumn.javaField});
#end
    }
#if($table.sub)

    /**
     * 新增${subTable.functionName}信息
     * 
     * @param ${className} ${functionName}对象
     */
    public void insert${subClassName}(${ClassName} ${className}) {
        List<${subClassName}> ${subclassName}List = ${className}.get${subClassName}List();
        ${pkColumn.javaType} ${pkColumn.javaField} = ${className}.get${pkColumn.capJavaField}();
        if (CollUtil.isNotEmpty(${subclassName}List)) {
            List<${subClassName}> list = new ArrayList<${subClassName}>();
            for (${subClassName} ${subclassName} : ${subclassName}List) {
                ${subclassName}.set${subTableFkClassName}(${pkColumn.javaField});
                list.add(${subclassName});
            }
            if (list.size() > 0) {
                ${className}Mapper.batch${subClassName}(list);
            }
        }
    }
#end
}
