<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risun.system.mapper.SysCustAdvQueryMapper">
    
    <resultMap type="SysCustAdvQuery" id="SysCustAdvQueryResult">
        <result property="queryId"    column="query_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="tableName"    column="table_name"    />
        <result property="tableDesc"    column="table_desc"    />
        <result property="tableAlias"    column="table_alias"    />
        <result property="pkCol"    column="pk_col"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysCustAdvQueryVo">
        select t.query_id, t.template_name, t.table_name, t.table_desc, t.table_alias, t.pk_col, t.create_by, t.create_time, t.update_by, t.update_time from sys_cust_adv_query t
    </sql>

    <select id="selectSysCustAdvQueryList" parameterType="SysCustAdvQuery" resultMap="SysCustAdvQueryResult">
        <include refid="selectSysCustAdvQueryVo"/>
        <where>  
            <if test="templateName != null  and templateName != ''"> and t.template_name like concat('%', #{templateName}, '%')</if>
            <if test="tableName != null  and tableName != ''"> and (t.table_desc like concat('%', #{tableName}, '%') or t.table_name like concat('%', #{tableName}, '%'))</if>
            <if test="tableAlias != null  and tableAlias != ''"> and t.table_alias = #{tableAlias}</if>
        </where>
    </select>
    
    <select id="selectSysCustAdvQueryByQueryId" parameterType="Long" resultMap="SysCustAdvQueryResult">
        <include refid="selectSysCustAdvQueryVo"/>
        where t.query_id = #{queryId}
    </select>
        
    <insert id="insertSysCustAdvQuery" parameterType="SysCustAdvQuery" useGeneratedKeys="true" keyProperty="queryId">
        insert into sys_cust_adv_query
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name,</if>
            <if test="tableName != null and tableName != ''">table_name,</if>
            <if test="tableDesc != null and tableName != ''">table_desc,</if>
            <if test="tableAlias != null and tableAlias != ''">table_alias,</if>
            <if test="pkCol != null and pkCol != ''">pk_col,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">#{templateName},</if>
            <if test="tableName != null and tableName != ''">#{tableName},</if>
            <if test="tableDesc != null and tableDesc != ''">#{tableDesc},</if>
            <if test="tableAlias != null and tableAlias != ''">#{tableAlias},</if>
            <if test="pkCol != null and pkCol != ''">#{pkCol},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSysCustAdvQuery" parameterType="SysCustAdvQuery">
        update sys_cust_adv_query
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name = #{templateName},</if>
            <if test="tableName != null and tableName != ''">table_name = #{tableName},</if>
            <if test="tableDesc != null and tableDesc != ''">table_desc = #{tableDesc},</if>
            <if test="tableAlias != null and tableAlias != ''">table_alias = #{tableAlias},</if>
            <if test="pkCol != null and pkCol != ''">pk_col = #{pkCol},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where query_id = #{queryId}
    </update>

    <delete id="deleteSysCustAdvQueryByQueryId" parameterType="Long">
        delete from sys_cust_adv_query where query_id = #{queryId}
    </delete>

    <delete id="deleteSysCustAdvQueryByQueryIds" parameterType="String">
        delete from sys_cust_adv_query where query_id in 
        <foreach item="queryId" collection="array" open="(" separator="," close=")">
            #{queryId}
        </foreach>
    </delete>
    
    <!-- 系统数据库相关查询 -->
    <select id="selectSysDBTableByTableName" parameterType="String" resultType="String">
        select table_comment from information_schema.tables where table_schema = (select database()) and table_name = #{tableName}
    </select>
    
    <select id="selectSysDBTablePkColByTableName" parameterType="String" resultType="String">
        select column_name from information_schema.columns where table_schema = (select database()) and table_name = #{tableName} and column_key = 'PRI'
    </select>
    
</mapper>
