<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spirit.report.mapper.RiJmDictMapper">
    
    <resultMap type="RiJmDict" id="RiJmDictResult">
        <result property="id"    column="id"    />
        <result property="dictName"    column="dict_name"    />
        <result property="dictCode"    column="dict_code"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="type"    column="type"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectRiJmDictVo">
        select t.id, t.dict_name, t.dict_code, t.description, t.del_flag, t.create_by, t.create_time, t.update_by, t.update_time, t.type, t.tenant_id from jimu_dict t
    </sql>

    <select id="selectRiJmDictList" parameterType="RiJmDict" resultMap="RiJmDictResult">
        <include refid="selectRiJmDictVo"/>
        <where>  
        	ifnull(t.del_flag, 0) = 0
            <if test="dictName != null  and dictName != ''"> and t.dict_name like concat('%', #{dictName}, '%')</if>
            <if test="dictCode != null  and dictCode != ''"> and t.dict_code like concat('%', #{dictCode}, '%')</if>
            <if test="description != null  and description != ''"> and t.description = #{description}</if>
            <if test="type != null "> and t.type = #{type}</if>
            <if test="tenantId != null  and tenantId != ''"> and t.tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectRiJmDictById" parameterType="String" resultMap="RiJmDictResult">
        <include refid="selectRiJmDictVo"/>
        where t.id = #{id}
    </select>
    
     <select id="selectRiJmDictByDictCode" parameterType="String" resultMap="RiJmDictResult">
        <include refid="selectRiJmDictVo"/>
        where t.dict_code = #{dictCode}
    </select>
        
    <insert id="insertRiJmDict" parameterType="RiJmDict">
        insert into jimu_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="dictName != null">dict_name,</if>
            <if test="dictCode != null">dict_code,</if>
            <if test="description != null">description,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="type != null">type,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="dictName != null">#{dictName},</if>
            <if test="dictCode != null">#{dictCode},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="type != null">#{type},</if>
            <if test="tenantId != null">#{tenantId},</if>
         </trim>
    </insert>

    <update id="updateRiJmDict" parameterType="RiJmDict">
        update jimu_dict
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictName != null">dict_name = #{dictName},</if>
            <if test="dictCode != null">dict_code = #{dictCode},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="type != null">type = #{type},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRiJmDictById" parameterType="String">
        update jimu_dict set del_flag = 1 where id = #{id}
    </delete>

    <delete id="deleteRiJmDictByIds" parameterType="String">
        update jimu_dict set del_flag = 1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
     <delete id="deletePhysicalRiJmDictById" parameterType="String">
        delete from jimu_dict where id = #{id}
    </delete>
</mapper>
