<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spirit.flowable.mapper.SysFlowGroupUserMapper">
    
    <resultMap type="SysFlowGroupUser" id="SysFlowGroupUserResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="userId"    column="user_id"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="deptKey"    column="dept_key"    />
    </resultMap>

    <sql id="selectSysFlowGroupUserVo">
        select 
        	t.id, t.group_id, t.user_id, t.remark, t.create_by, t.create_time, t.update_by, t.update_time,
        	u.user_name, u.nick_name, d.dept_id, d.dept_name, d.dept_key
        from sys_flow_group_user t
        left join sys_flow_group g on g.group_id = t.group_id
        left join sys_user u on u.user_id = t.user_id
        left join sys_dept d on d.dept_id = u.dept_id
    </sql>

    <select id="selectSysFlowGroupUserList" parameterType="SysFlowGroupUser" resultMap="SysFlowGroupUserResult">
        <include refid="selectSysFlowGroupUserVo"/>
        <where>  
            <if test="groupId != null"> and t.group_id = #{groupId}</if>
            <if test="groupKey != null and groupKey != ''"> and g.group_key = #{groupKey}</if>
            <if test="userId != null"> and t.user_id = #{userId}</if>
            <if test="deptId != null"> and u.dept_id = #{deptId}</if>
            <if test="deptKey != null and deptKey != ''"> and d.dept_key = #{deptKey}</if>
            
        </where>
    </select>
    
    <select id="selectSysFlowGroupUserById" parameterType="Long" resultMap="SysFlowGroupUserResult">
        <include refid="selectSysFlowGroupUserVo"/>
        where t.id = #{id}
    </select>
    
    <select id="selectSysFlowGroupUserByGroupId" parameterType="Long" resultMap="SysFlowGroupUserResult">
        <include refid="selectSysFlowGroupUserVo"/>
        where t.group_id = #{groupId}
    </select>
    
    <select id="selectSysFlowGroupUserByGroupKey" parameterType="String" resultMap="SysFlowGroupUserResult">
        <include refid="selectSysFlowGroupUserVo"/>
        where g.group_key = #{groupKey}
    </select>
    
     <select id="selectGroupByUserId" parameterType="Long" resultType="String">
        select distinct group_id from sys_flow_group_user where user_id = #{userId}
    </select>
        
    <insert id="insertSysFlowGroupUser" parameterType="SysFlowGroupUser" useGeneratedKeys="true" keyProperty="id">
        insert into sys_flow_group_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">group_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">#{groupId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysFlowGroupUser" parameterType="SysFlowGroupUser">
        update sys_flow_group_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysFlowGroupUserById" parameterType="Long">
        delete from sys_flow_group_user where id = #{id}
    </delete>
    
    <delete id="deleteSysFlowGroupUserByGroupId" parameterType="Long">
        delete from sys_flow_group_user where group_id = #{groupId}
    </delete>

    <delete id="deleteSysFlowGroupUserByIds" parameterType="String">
        delete from sys_flow_group_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>