<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risun.report.mapper.RiJmReportShareMapper">
    
    <resultMap type="RiJmReportShare" id="RiJmReportShareResult">
        <result property="id"    column="id"    />
        <result property="reportId"    column="report_id"    />
        <result property="reportName"    column="report_name"    />
        <result property="previewUrl"    column="preview_url"    />
        <result property="previewLock"    column="preview_lock"    />
        <result property="previewLockStatus"    column="preview_lock_status"    />
        <result property="lastUpdateTime"    column="last_update_time"    />
        <result property="termOfValidity"    column="term_of_validity"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectRiJmReportShareVo">
        select 
        	t.id, t.report_id, r.name as report_name, t.preview_url, t.preview_lock, t.preview_lock_status, t.last_update_time, t.term_of_validity, t.status 
        from jimu_report_share t
        left join jimu_report r on r.id = t.report_id
    </sql>

    <select id="selectRiJmReportShareList" parameterType="RiJmReportShare" resultMap="RiJmReportShareResult">
        <include refid="selectRiJmReportShareVo"/>
        <where>  
            <if test="previewLockStatus != null  and previewLockStatus != ''"> and t.preview_lock_status = #{previewLockStatus}</if>
            <if test="termOfValidity != null  and termOfValidity != ''"> and t.term_of_validity = #{termOfValidity}</if>
            <if test="status != null  and status != ''"> and t.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectRiJmReportShareById" parameterType="String" resultMap="RiJmReportShareResult">
        <include refid="selectRiJmReportShareVo"/>
        where t.id = #{id}
    </select>
        
    <insert id="insertRiJmReportShare" parameterType="RiJmReportShare">
        insert into jimu_report_share
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="reportId != null">report_id,</if>
            <if test="previewUrl != null">preview_url,</if>
            <if test="previewLock != null">preview_lock,</if>
            <if test="previewLockStatus != null">preview_lock_status,</if>
            <if test="lastUpdateTime != null">last_update_time,</if>
            <if test="termOfValidity != null">term_of_validity,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="reportId != null">#{reportId},</if>
            <if test="previewUrl != null">#{previewUrl},</if>
            <if test="previewLock != null">#{previewLock},</if>
            <if test="previewLockStatus != null">#{previewLockStatus},</if>
            <if test="lastUpdateTime != null">#{lastUpdateTime},</if>
            <if test="termOfValidity != null">#{termOfValidity},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateRiJmReportShare" parameterType="RiJmReportShare">
        update jimu_report_share
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportId != null">report_id = #{reportId},</if>
            <if test="previewUrl != null">preview_url = #{previewUrl},</if>
            <if test="previewLock != null">preview_lock = #{previewLock},</if>
            <if test="previewLockStatus != null">preview_lock_status = #{previewLockStatus},</if>
            <if test="lastUpdateTime != null">last_update_time = #{lastUpdateTime},</if>
            <if test="termOfValidity != null">term_of_validity = #{termOfValidity},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRiJmReportShareById" parameterType="String">
        delete from jimu_report_share where id = #{id}
    </delete>

    <delete id="deleteRiJmReportShareByIds" parameterType="String">
        delete from jimu_report_share where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
